<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label>
        First Name:
        <input type="text" th:field="*{firstName}">
    </label>
    <br>
    <label>
        Last Name:
        <input type="text" th:field="*{lastName}">
    </label>
    <br>
    <label>
        Email:
        <input type="text" th:field="*{email}">
    </label>
    <br>
    <input type="submit" value="Update!">
</form>
</body>
</html>